.sidebar {
  flex: 1;
  min-height: 100vh;
  /* background: rgb(0, 93, 83);
  background: linear-gradient(
    90deg,
    rgba(0, 93, 83, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background: #008491;
  border-right: 4px solid white;
  padding-top: 60px;
}

.sidebar ul {
  list-style: none;
  z-index: 5;
  padding: 0;
}

.sidebar ul div {
  margin: 15px 0;
  padding-left: 0 10px;
  font-size: 20px;
  line-height: 25px;
}

.sidebar ul div :hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  margin: 0;
  transition: 300ms;
  padding: 10px 0;
}

.top {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgb(178, 255, 247);
  background: radial-gradient(
    circle,
    rgba(178, 255, 247, 1) 0%,
    rgba(3, 126, 113, 1) 100%
  ); */
  background: #008491;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #00a896;
}

.logo img {
  height: 100px;
}

hr {
  height: 0;
  border: 0.5px solid rgb(230, 227, 227);
}

.center {
  padding-left: 10px;
}

.center ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  font-size: 10px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}

.center ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.center ul li:hover {
  background-color: #00a896;
  color: white;
  transition: 300ms;
}

.icon {
  font-size: 18px;
  color: #00a896;
}

span {
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px 0;
}

.bottom {
  display: flex;
  align-items: center;
  margin: 10px;
}

.colorOption {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #00a896;
  cursor: pointer;
  margin: 5px;
}

.colorOption:nth-child(1) {
  background-color: whitesmoke;
}

.colorOption:nth-child(2) {
  background-color: #333;
}

.colorOption:nth-child(3) {
  background-color: darkblue;
}

.activeLink {
  color: white;
  font-weight: bold;
  text-decoration: underline !important;
}

.hra {
  color: #00a896 !important;
}

.pasiveLink {
  color: #082723;
  font-weight: bold;
}

.sidebar-close {
  position: absolute;
  top: 2%;
  right: 5%;
}

@media only screen and (max-width: 600px) {
  .sidebar ul {
    padding: 0 10px;
  }
}
